/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
 
  
    /*========== Colors ==========*/
  
    /* HSL color mode */
  
    --bg-main-color-white: #ffffff;
    --bg-main-color-orange: #F36F21;
    --bg-submain-color-orange: #FFCCAD;
    --bg-submain-color-black: #000000;
  
    --body-color: #ffffff;
    --text-white: #ffffff;
    --text-black: rgb(0, 0, 0);
  
    --icon-color-black: rgb(0, 0, 0);
    --icon-color-white: rgb(255, 255, 255);
    --button: #F36F21;
  
    --box-shadow-orange: #F36F21;
    --box-shadow-black: #000000;
  
    --scroll-bar-color: #F36F21;
    --scroll-barhover-color: #FFCCAD;
    --scroll-thumb-color: #ffffff;
  
    /*========== Font and typography ==========*/
    --body-font: "kanit","Caveat Brush", sans-serif;
  
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
  
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 0.8rem;
    --h4-font-size: 0.6rem;
  
    --font-menu: 1rem;
    --normal-font-size: 0.5rem;
    --small-font-size: 0.375rem;
    --smallmedium-font-size: 0.313rem;
    --smaller-font-size: 0.25rem;
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
  
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-basic: 10;
    --z-immediate: 100;
    --z-hard: 1000;
    --z-heavy: 10000;
  
    --transition: all 400ms ease;
  }
  
  /*========== Variables Dark theme ==========*/
  body.dark {
    -icon-sun-moon-color: #ffc067;
    --body-color: #231605;
    --icon-color: #ffffff;
    --bg-main-color-white: #231605;
    --text-black: #ffffff;
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  
body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-menu-color);
  }
  
  h1 {
    color: var(--title-color);
    font-weight: var(--font-bold);
    font-size: var(--big-font-size);
  }
  
  h2 {
    color: var(--text-subtitle-color);
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    border: none;
    outline: none;
    background: transparent;
  }
  .head{
    margin: 5rem 0 0 0;
    font-size: 3rem;
    font-weight: var(--font-bold);
    text-align: center;
  }
  
  .title {
    color: var(--text-title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
  }

  /*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: 0.6rem;
    background: var(--scroll-thumb-color);
  }
  
  ::-webkit-scrollbar-thumb {
    width: 0.6rem;
    background: var(--scroll-bar-color);
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-barhover-color);
  }
  


/*==================== REUSABLE CSS CLASSES ====================*/

/*==================== LAYOUT ====================*/

.section {
    padding: 2rem 1.5rem;
  }
  .container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid {
    display: grid;
  }
  
  .logo {
    max-width: 3rem;
    position: relative;
    left: 5rem;
    cursor: pointer;
  }
  
  /* Change background header */
  .window-scroll {
    background: var(--bg-main-color-white);
    box-shadow: 0 2px 10px var(--box-shadow);
    transition: var(--transition);
    z-index: var(--z-menu);
  }
  
  /* scrollup */
  .fa-arrow-up {
    position: relative;
    right: -0.2rem;
  }
  .scrollup {
    position: fixed;
    right: 1rem;
    bottom: -3rem;
    background: #001834;
    backdrop-filter: blur(16px);
    padding: 0.45rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    color: #ffffff;
    transition: 0.4s;
    width: 35px;
    height: 40px;
    z-index: var(--z-message);
  }
  
  .scrollup:hover {
    background: var(--bg-submain-color-orange);
  }
  
  /* Show Scroll Up*/
  
  .show-scroll {
    transition: var(--transition);
    bottom: 3rem;
  }


  /*============= header =============*/


  header{
    background-color: var(--bg-main-color-white);
    position: fixed;
    top: 0;
    margin-bottom: 5rem;
    z-index: var(--z-hard);
   
  }

.menu__section{
    width: 100%;

  }
.menu__container{

  box-shadow: var(--box-shadow-orange) 0px 2px 10px;
  
  
}

.menu__text{


    margin-right: 5rem;
  }
.menu__list{


    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu__toggle,.menu__close {

  display: none;


}

  .menu__mainitem{

    display: flex;
    flex-direction: Row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    
  }

  .menu__link{

    color: var(--text-black);
    font-size: 1rem;
    font-weight: var(--font-bold);

  }
  .menu__link:hover{

    color: var(--box-shadow-orange);
    transition: var(--transition);

  }
  .btn__menu__item{

    outline: 0.15rem solid var(--button);
    border-radius: 1rem;
    width: 100%;

  }
 #menu-link{
    
    padding: 3rem 1rem 3rem 1rem;
    color: var(--button);
    font-weight: var(--font-bold);

 }

  /*============= home =============*/

main{
    position: relative;
    padding: 6rem 6rem 0rem 6rem;
    height: 100%;
}

.home__section{
  display: flex;
  justify-content: center;
  
}
  
  
.home__maincontent{
  
  justify-content: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  
}


.home__left{

  align-self: center;
  text-align: start;
}

.home__left h1{

  font-size: 3rem;
}
.home__left p{
  margin-top: 0.5rem;
  font-size: 1.75rem;
  color: #0000007c;
}


#home__subright{


  width: 800px;

}

#home__subright2{

  width: 800px;

}

#home__subright3 {

  width: 1000px;
}



.home__box{
  padding: 1rem;
  text-align: center;
  width: 150px;
  height: 166px;
  background-color: var(--bg-main-color-white);
  border-radius: 20px;
  box-shadow: var(--box-shadow-orange) 0px 0px 10px;
}
  
.home__mainbox{
  justify-content: center;
  padding: 2rem;
  display: flex;
  column-gap: 2rem;
  

 
}

.home__box{

  position: relative;
  

}

.home__box a i{

  margin-top: 0.5rem;
  font-size: 4rem;
  color: var(--box-shadow-black);


}

.home__box p {

  font-weight: var(--font-semibold);
  font-size: 20px;
  margin-top: 1rem;
  color: var(--text-white);


}




.home__boxbottom{
  
  background-color: var(--button);
  width: 150px;
  height: 60px;
  right: 0px;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  justify-content: center;
  position: absolute;       
  
}

.home__search{
  
  align-items: center;
  align-content: center;
  padding: 1rem;
  display: flex;
  width: 700px;
  height: 60px;
  background-color: var(--bg-submain-color-orange);
  border-radius: 1rem ;
  position: relative;

}



.home__searchinput{

  outline: none;
  border: none;
  background: transparent;
  width: 700px;
  height: 60px;
  font-size: 20px;
  color: var(--text-white);
  font-family: 'kanit';
}

.home__searchinput::placeholder{

  color: var(--text-white);
}



.home__search i{

  font-size: 1.75rem;
  color: var(--text-white);

}
.home__recsearch{

  margin: 0 20px 0 20px;
  width: 3px;
  height: 40px;
  background-color: var(--body-color);
  color: #000000;
}

.home__search p{
  
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: var(--font-semibold);
  color: var(--text-white);

}

.home__text p{
  text-align: center;
  margin: 0 2rem 2rem 2rem;
  font-size: 1rem;
  color: var(--text-black);
}
.home__text p u{
  color: var(--box-shadow-orange);
}

.home__resultbox{


  display: flex;
  justify-content:end;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 0.5rem;
}

.home__resultbox ul{

  border-radius: 0 0 20px 20px;
  width: 100%;
  height: max-content;
  padding: 15px 10px;
  background-color: var(--bg-submain-color-orange);
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.home__resultbox ul li{

  font-size: 20px;
  padding: 15px 10px;
  cursor: pointer;
  color: var(--text-white);
}
.home__resultbox ul li:hover{

  
  background-color: var(--box-shadow-orange);
  color: var(--text-white);
}

.home__maincontent{





}
.home__mainarrow{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.home__arrowleft{

  font-size: 2rem;
  color: var(--box-shadow-orange);
}

.home__arrowright{
  font-size: 2rem;
  color: var(--box-shadow-orange);

}

.home__mainpoint{

  width: 100%;
  height: 30px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  
}
.home__mainpoint div{

  
  border-radius: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;

  background-color:var(--bg-submain-color-orange);
}
.home__mainpoint div.active{

  background-color:var(--box-shadow-orange);
  
}
.home__mainpoint div:hover{

  background-color:var(--box-shadow-orange);
  transition: var(--transition);
}

  /*============= category =============*/

.category__main{

  
    font-weight: bold;
    justify-content: center;
    text-align: center;

  }
.category__taxt{

  font-size: 3rem;
  margin: 5rem 0 5rem 0 ;
}


.category__mainsubject{


}

.category__mainsubjectbox{

  display: flex;
  column-gap: 8rem;
  justify-content: center;
  margin-top: 3rem;
}


.category__circlesubjectbox{
  position: relative;
  width: 164px;
  height: 164px;
  border-radius: 10rem;
  border: 0.3rem solid var(--button);

}

.category__circlesubjectbox i {

  font-size: 5rem;
  position: absolute;
  top: 2.3rem;
  left: 2.4rem;
  color: var(--text-black);
}
.category__circlesubjectbox i:hover {

 
  color: var(--box-shadow-orange);

  position: absolute;
 
  transform: scale(1.1); 
  transition: var(--transition);

}

.category__subjectbox p{

  font-size: 25px; 
  font-weight: var(--font-semibold); 
  margin-top: 1rem;
}

  /*============= course =============*/

.course__main {

  position: relative;
  
}

.course__text{
  
  font-size: 3rem;
  font-weight: var(--font-bold);
  text-align: center;
}
.course__supermainbox{



}
.course__mainarrow{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 5rem;
}
.course__mainbox{

  align-self: center;
  justify-content: center;
  column-gap: 1.5rem;
  text-align: center;



}

.course__box {
 
  text-align: center;


}
.course__box:hover {
 
  cursor: pointer;
  transform: scale(1.1); 
  transition: var(--transition);
  box-shadow: var(--bg-main-color-orange) 0px 0px 15px;
  
  border-radius: 30px;
 

}

.course__box img{
 
  width: 434px;
  height: 280px;
  border-radius: 30px;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg');
  

}
.course__box p{
  
  position: absolute;
  text-align: center;
  padding: 10rem 0 2rem 1rem;
  bottom: 0;
  color: var(--text-white);
  font-size: 30px;
  font-weight: var(--font-semibold);
  font-style: italic;
  text-transform: uppercase;
  text-shadow: var(--box-shadow-black) 0px 5px 15px;

  width: 434px;
  height: 280px;
  border-radius: 30px;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, transparent 40%, var(--bg-main-color-orange) 100%);


}


.course__arrow{

  
  width:100%;
  position: absolute;
  top: 270px;
  cursor: pointer;
  
}

.course__arrowleft{
  font-size: 2rem;
  color: var(--box-shadow-orange);
  cursor: pointer;
  
}

.course__arrowright{
  font-size: 2rem;
  color: var(--box-shadow-orange);
  cursor: pointer;

}


/*============= activity =============*/

.activity__main{

  position: relative;


}
.activity__text{

  margin-bottom: 5rem;
}
.activity__mainbox{

  justify-content: center;
    display: flex;
    column-gap: 4rem;
 

}

.activity__box {
  position: relative;
  box-shadow: var(--box-shadow-black) 0px 5px 15px;
  width: 300px;
  height: 560px;
  border-radius: 30px;
  cursor: pointer;
}
.activity__box:hover {
  transform: scale(1.1); 
  transition: var(--transition);
}

.activity__boximg img{

   
    width: 300px;
    height: 560px;
    border-radius: 30px;
    z-index: 0;

}

.activity__headtext{

  position: absolute;
  margin-top: 2rem;
  align-content: center;
  width: 100%;

  text-align: center;
  z-index: var(--z-basic);
  color: var(--text-white);
  font-size: 20px;
  font-family: "Caveat Brush", cursive;
  text-transform: uppercase;
  
}
.activity__subheadtext h1{

  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 4rem;
  font-size:45px;
  color:var(--text-white);
  text-transform: uppercase;
  font-family: "Caveat Brush", cursive;

  
}

.activity__boxbutton{

  position: absolute;
  
  align-content: center;
  text-align: center;
  height: 20px;
  width: 100%;
  bottom: 0;
  margin-bottom: 2rem;
  background-color: var(--bg-main-color-orange);
}

.activity__boxbutton p{
  
  color: var(--text-white);
  font-weight: var(--font-light);
  font-size: 0.75rem;
}

/*============= news =============*/

.new__main{


}

.new__text{

  margin-bottom: 5rem;
 
  
}
.new__mainarrow{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.new__arrowleft{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}

.new__arrowright{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}
.new__mainbox{

  display: flex;
  justify-content: center;

 
}

.new__submainbox{

  position: relative;
  width: 1380px;
  height: 480px;
  background-color: #F36F21;
  border-radius: 100px;

}
.new__boximg{

  position: absolute;
  top: 0;
  left: 0;
}
.new__boximg img{


  border-radius: 100px 0 0 100px;

}
.new__boxtext{

  padding: 6rem;
  position: absolute;
  right: 0;
  color: var(--text-white);

}

.new__boxtext h1{

  font-size: 40px;
  font-weight: var(--font-bold);
}
.new__boxtext p{

  width: 500px;
  font-size: 24px;
  font-weight: var(--font-light);

}

.new__button{
  margin-top: 1rem;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--bg-main-color-white);
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.new__button:hover{
  
  box-shadow: var(--bg-main-color-white) 0px 0px 15px;
  transition: var(--transition);
  
}

.new__button p{

  width: 100%;
  color: var(--box-shadow-orange);
  font-size: 20px;
  font-weight: var(--font-semibold);
}

.new__arrow{


  position: absolute;
  color: var(--text-white);
  font-size: 30px;
  right: 20rem;
  top: 60%;
}

.new__arrow  i{

  color: var(--text-white);
  cursor: pointer;
}

/*============= footer =============*/


.footer__main{

  margin-top: 5rem;
  background-color: var(--bg-main-color-white);
  box-shadow: var(--box-shadow-orange) 0 -2px 15px;
  height:250px ;
  width: 100%;
  align-content: center;

}
.footer__mainlist{
  display: flex;
  justify-content: space-evenly;
  
  
}
.footer__listimg img{

  max-width: 8rem;
  

}
.footer__list p{
  
  font-size: 1rem;
  font-weight: var(--font-semibold);
}
.footer__list ul li{
  
  margin: 0.5rem 0;
}

.footer__list ul li a{
  
  color: var(--text-black);
  font-size: 0.75rem;
}
.footer__listspecial{

  text-align: center;
  display: grid;
  row-gap: 1rem;
  
}

.footer__listspecial ul {
  
  justify-content: center;
  display: flex;
  column-gap: 1rem;
}
.footer__listicon{

  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 7.5px;
  background-color: var(--box-shadow-orange);
  cursor: pointer;
}

.footer__listicon i{

  text-align: center;
  font-size: 1.5rem;
  color: var(--text-white);
}
.footer__listicon i:hover{

  transform: scale(1.1);
  transition: var(--transition);
}

.footer__messagebox{

  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: #F36F21;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.footer__searchinput{

  outline: none;
  border: none;
  font-size: 12px;
  width: 120px;
  height: 50px;
  border-radius: 10px 0 0 10px;
  background: transparent;
  padding: 1rem;
  color: var(--text-white);


}
.footer__searchinput::placeholder{

  color: var(--text-white);

  
}
.footer__messagebox p{

  color: var(--text-white);
}

.footer__messagesubbok{

  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--bg-main-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  
 
}
.footer__messagesubbok:hover{

  box-shadow: var(--bg-main-color-white) 0px 0px 5px;


}
.footer__messagesubbok i{

 font-size: 1rem;
 color: var(--box-shadow-orange);
 
}
.footer__messagesubbok p{

  color: var(--box-shadow-orange);
  font-size: 12px;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  
 }




 @media only screen and (min-width: 0px) and (max-width: 1000px){


.menu__list{
  align-items: center;
  align-content: center;
  align-self: center;
  position: relative;

}
.menu__toggle{

  cursor: pointer;
  display: block;
  font-size: 2.5rem;
  margin-right: 4rem;
  color: var(--bg-main-color-orange); 
}
.menu__close{

  position: absolute;
  top: 2rem;
  right: -100%;
  cursor: pointer; 
  display: block;
  font-size: 3rem;
  color: var(--bg-main-color-orange);
  z-index: var(--z-heavy);
  transition: var(--transition);

}

.menu__text{

  position: fixed;
  top:0px;
  right: -200%;
  height: 100%;
  width: 100%;
  align-content: center;
  z-index: var(--z-immediate);
  background-color: var(--bg-main-color-white);
  transition: var(--transition);

}
.menu__item{

  margin: 0.5rem;
}
.show-menu {
    
  right: -5rem;
}

.show-close {
  top: 1rem;
  right:5rem;
}


.menu__item a{

  font-size: 30px;

}
.menu__mainitem{

  display: flex;
  flex-direction: column;
}

main{
  padding: 0;
  height: 100%;

}
.home__section{

  position: relative;
}
.home__left{

  text-align: center;
}

.home__maincontent{


  margin-top: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
}

.home__arrowleft{


}
.home__arrowright{


}
.home__left h1{

  font-size: 2rem;
}

#home__subright{

  width: 300px;
}
#home__subright2 {

  width: 300px;

}

#home__subright3 {

  width: 300px;
}


.home__left h1{

  font-size: 1.5rem;
}

.home__left p{

  font-size: 0.9rem;
  
}
.home__mainbox{


}
.home__box{

  width: 90px;
  height: 106px;

}


.home__box a i{

  margin-top: 0.2rem;
  font-size: 2rem;
  color: var(--box-shadow-black);


}

.home__box p {

  font-weight: var(--font-semibold);
  font-size: 10px;
  margin-top: 0.75rem;
  color: var(--text-white);


}




.home__boxbottom{
  
  background-color: var(--button);
  width: 90px;
  height: 40px;
  right: 0px;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  justify-content: center;
  position: absolute;       
  
}

.home__text p{

  font-size: 0.6rem;
}

.home__arrow{

  background-color: #000000;
  width:70%;

  position: absolute;
  top:250px;

}
.home__arrow a{

  font-size: 2rem;
  color: var(--box-shadow-orange);
}
.home__mainpoint{

  display: none;
}

.home__search{
 
  width: 100%;
  height: 20px;
  border-radius: 0.5rem ;

  justify-content: center;
  justify-self: center;


}



.home__searchinput{


  width: 350px;
  height: 20px;
  font-size: 10px;


 }
 .home__search i{

  font-size: 1rem;
 }
.home__recsearch{
  height: 15px;
  margin: 0.5rem;
}

.head{
  margin: 3rem 0 0 0;
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  text-align: center;
}

.category__mainsubject{

  margin-top: 0rem;
}

.category__mainsubjectbox{

  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;

}


.category__circlesubjectbox{
 
  width: 80px;
  height: 80px;
  border-radius: 10rem;
  border: 0.2rem solid var(--button);
  

}

.category__circlesubjectbox i {

  font-size: 2rem;
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  color: var(--text-black);
}

.category__subjectbox p{

  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.course__mainarrow{

  margin: 2rem 0 3rem 0;
}
.course__mainbox{



  column-gap: 0.7rem;
  row-gap: 1rem;

}

.course__box {
 
  width: 120px;
  height: 90px;;
  border-radius: 20px;

}

.course__box img{
 
  width: 120px;
  height: 90px;
  border-radius: 20px;
  


}
.course__box p{

  font-size: 8px;
  text-shadow: var(--box-shadow-black) 0px 5px 15px;
  width: 120px;
  height: 90px;
  border-radius: 20px;
  padding: 6rem 0 2rem 0rem;
  
 
}


.activity__text{

  margin-bottom: 3rem;
}

.activity__mainbox{


    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
 

}

.activity__box {

  box-shadow: rgb(155, 155, 155) 0px 5px 15px;
  width: 150px;
  height: 300px;

}


.activity__boximg img{

   
    width: 150px;
    height: 300px;
    border-radius: 30px;

}

.activity__headtext{


  margin-top: 2rem;
  font-size: 14px;

  
}
.activity__subheadtext h1{


  bottom: 0;
  margin-bottom: 4rem;
  font-size:20px;

  
}

.activity__boxbutton{

  
  height: 15px;
 
}

.new__main{

  position: relative;
}

.new__text{

  margin-bottom: 2rem;
 
  
}

.new__mainarrow{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.new__arrowleft{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}

.new__arrowright{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}
.new__submainbox{

  position: relative;
  width: 400px;
  height: 600px;
  background-color: #F36F21;
  border-radius: 50px;

  
  

}
.new__boximg{

  position: absolute;
  top: 0;
  left: 0;
}
.new__boximg img{


  width: 400px;
  border-radius: 50px 50px 0 0;


}
.new__boxtext{


  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  
  


}

.new__boxtext h1{

  font-size: 25px;
  font-weight: var(--font-bold);
}
.new__boxtext p{

  text-align: center;
  font-size: 16px;
  font-weight: var(--font-light);
  width: 100%;
}

.new__button{

  width: 150px;
  height: 60px;
  border-radius: 20px;
  align-self: center;

  margin: 1rem auto;

}
.new__button:hover{
  
  box-shadow: var(--bg-main-color-white) 0px 0px 15px;
  transition: var(--transition);
  
}

.new__button p{

  
  color: var(--box-shadow-orange);
  font-size: 14px;
  font-weight: var(--font-semibold);
}


.footer__mainlist{


}

.footer__listimg img{

  margin-top: 2rem;
  width: 5rem ;
}

.footer__list p{


}


.footer__listspecial{


  row-gap: 0.25rem;
  
}

.footer__listspecial ul {

  column-gap: 0.25rem;
  align-self: center;
  
}


.footer__listicon{

 
  width: 30px;
  height: 30px;
  border-radius: 7.5px;
  


}

.footer__listicon i{


  font-size: 1rem;
  

}


.footer__messagebox{
  
  width: 150px;
  height: 80px;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  
}
.footer__messagebox p{

  font-size: 0.75rem;

}
.footer__searchinput{

  width: 100%;
}


.footer__messagesubbok{

  width: 80px;
  height: 20px;
  border-radius: 5px;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
  
 
}
.footer__messagesubbok i{

 font-size: 0.6rem;

 
}
.footer__messagesubbok p{

  font-size: 10px;

  
 }

}

@media only screen and (min-width: 1000px) and (max-width: 1400px){

.head{

  font-size: 2rem;


}
.home__maincontent{


  text-align: center;
  margin-top: 3rem;

}

#home__subright,#home__subright2,#home__subright3{

  width:600px;

}
.home__left {

  text-align: center;
  padding: 0;
  margin: 0;
}

.home__left h1{

  font-size: 2.3rem;
}

.home__left p{

  font-size: 1.3rem;
}

.home__mainbox{

  width: 100%;
  display: flex;
  justify-content: center;
}
.home__box{
  padding: 1rem;
  text-align: center;
  width: 120px;
  height: 160px;
  background-color: var(--bg-main-color-white);
  border-radius: 20px;
  box-shadow: var(--box-shadow-orange) 0px 0px 10px;
}



.home__box a i{
  font-size: 3.5rem;
}
  
.home__boxbottom{

  width: 100%;
}
.home__boxbottom p{

  font-size: 1rem;
}
.home__text {


}
.home__text p{

  align-self: center;
  font-size: 1rem;
}
.home__search{

  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  width: 500px;
  margin-left: 9rem;
}
.home__resultbox{
  width: 500px;
  margin-left: 9rem;

}
.home__searchinput{

  
}


.category__taxt{
  margin: 3rem 0;
}

.category__mainsubject{

  margin: 0;
}

.category__mainsubjectbox{

    column-gap: 2rem;

}


.category__circlesubjectbox{
 
  width: 120px;
  height: 120px;
  border-radius: 10rem;
  border: 0.2rem solid var(--button);
  

}

.category__circlesubjectbox i {

  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3.5rem;
  align-self:center;
  
  color: var(--text-black);
}

.category__subjectbox p{

  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.course__text{

  margin: 3rem 0;
}

.course__mainbox{

  position: relative;
  column-gap: 2rem;
  row-gap: 1rem;

}
.course__mainarrow{

  margin: 0;

}

.course__box {
 
  width: 230px;
  height: 150px;
  border-radius: 20px;

}

.course__box img{
 
  width: 230px;
  height: 150px;
  border-radius: 20px;
  


}
.course__box p{

  font-size: 16px;
  text-shadow: var(--box-shadow-black) 0px 5px 15px;
  width: 230px;
  height: 150px;
  border-radius: 20px;
  padding: 6rem 0 2rem 0rem;
  
 
}

.course__arrow{


  position: absolute;
  top: 170px;
  width: 100%;

  
}
.course__arrow i{

  font-size: 20px;

}



.activity__text{

  margin: 3rem 0;
}

.activity__mainbox{


  column-gap: 2rem;
 

}

.activity__box {

  box-shadow: rgb(155, 155, 155) 0px 5px 15px;
  width: 200px;
  height: 350px;

}


.activity__boximg img{

   
  width: 200px;
  height: 350px;
    border-radius: 30px;

}


.activity__headtext{


  margin-top: 2rem;
  font-size: 14px;

  
}
.activity__subheadtext h1{


  bottom: 0;
  margin-bottom: 4rem;
  font-size:25px;

  
}

.activity__boxbutton{

  
  height: 15px;
 
}

.new__text{

  margin: 3rem 0;
 
  
}

.new__mainarrow{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.new__arrowleft{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}

.new__arrowright{

  font-size: 2rem;
  color: var(--bg-main-color-orange);
  cursor: pointer;
}
.new__submainbox{

  position: relative;
  width: 500px;
  height: 650px;
  background-color: #F36F21;
  border-radius: 50px;

  
  

}
.new__boximg{

  position: absolute;
  top: 0;
  left: 0;
}
.new__boximg img{

  
  width: 100%;
  border-radius: 50px 50px 0 0;


}
.new__boxtext{

  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;

}

.new__boxtext h1{

  font-size: 25px;
  font-weight: var(--font-bold);
}
.new__boxtext p{

  text-align: center;
  font-size: 16px;
  font-weight: var(--font-light);
  width: 100%;
}

.new__button{

  width: 150px;
  height: 60px;
  border-radius: 20px;
  align-self: center;

  margin: 1rem auto;

}
.new__button:hover{
  
  box-shadow: var(--bg-main-color-white) 0px 0px 15px;
  transition: var(--transition);
  
}

.new__button p{

  
  color: var(--box-shadow-orange);
  font-size: 14px;
  font-weight: var(--font-semibold);
}




}